<!DOCTYPE html>
<html>
<head>
    <title>Fortuna</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>
<body>

<div class="container my-5">
    <header class="container my-5">
        <h1 class="text-left">Lista de Folhas</h1>
    </header>
    <div id="successMessage" class="alert alert-success" style="display: none;">
        Folha atualizada com sucesso!
    </div>

    <div id="errorMessage" class="alert alert-danger" style="display: none;">
        Um erro ocorreu ao tentar atualizar a folha.
    </div>
    <div class="text-right">
        <a href="/" class="btn btn-secondary">Voltar p/ Inicio</a>
        <a href="/paper" class="btn btn-success">Nova folha</a>
    </div>
    <main class="container my-5" id="cardsContainer">
        <div id="accordion">
            <!-- Accordion items will be dynamically added here -->
        </div>
    </main>
    <div class="modal fade" id="addBetModal" tabindex="-1" role="dialog" aria-labelledby="addBetModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addBetModalLabel">Nova Aposta</h5>
                    <h2 class="modal-subtitle" id="addBetModalSubtitleLabel"></h2>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="paperId" id="paperId" value=""/>
                    <input type="text" name="numbers" class="modalTextInput form-control" id="addBetInput" placeholder="01 - 02 - 03 - 04 - 05 - 06 - 07 - 08 - 09 - 10 - 11 - 12 - 13 - 14 - 15">
                </div>
                <div class="modal-footer">
                    <button type="button" class="addBet btn btn-primary">Adicionar</button>
                    <button type="button" class="closeModal btn btn-secondary">Fechar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).on('click', '.btn-link', function(e) {
        e.preventDefault();
        var target = $(this).attr('data-target');
        $(target).collapse('toggle');
    });

    document.addEventListener('DOMContentLoaded', function() {
        fetch('/api/papers')
            .then(response => response.json())
            .then(data => {
                $('#loadingOverlay').hide();

                var accordionContainer = $('#accordion');
                $.each(data, function(index, item) {
                    var accordionItem = $('<div class="card"></div>');
                    var cardHeader = $('<div class="card-header" id="heading' + item.id + '"></div>');
                    var cardHeaderButton = $('<button class="btn btn-link" data-toggle="collapse" data-target="#collapse' + item.id + '" aria-expanded="true" aria-controls="collapse' + item.id + '">Folha ' + item.id + '</button>');
                    var addBetButton = $('<button class="btn btn-info btn-sm float-right add-bet-btn" data-id="' + item.id + '">Adicionar Aposta</button>');
                    addBetButton.css('margin-right', '10px');
                    var deleteButton = $('<button class="btn btn-danger btn-sm float-right delete-btn" data-id="' + item.id + '">Delete</button>');
                    var cardBody = $('<div id="collapse' + item.id + '" class="collapse" aria-labelledby="heading' + item.id + '" data-parent="#accordion"></div>');
                    var cardBodyContent = $('<div class="card-body"></div>');

                    $.each(item.bets, function(betIndex, bet) {
                        var paddedNumbers = bet.numbers.map(function(number) {
                            return number.toString().padStart(2, '0');
                        });
                        var betParagraph = createBetParagraph(betIndex, bet, item, paddedNumbers);

                        cardBodyContent.append(betParagraph);

                        if (betIndex < item.bets.length - 1) { // Check if it's not the last bet
                            cardBodyContent.append('<hr class="hr-separator">'); // Append the line separator
                        }
                    });

                    function createBetParagraph(betIndex, bet, item, numbers) {
                        var betParagraph = $('<p>Aposta ' + (betIndex + 1).toString().padStart(2, '0') + ': <b>' + numbers.join(' - ') + '</b></p>');

                        // Create an edit icon and append it to the bet paragraph
                        var editIcon = $('<i class="fa fa-edit"></i>');
                        var editButton = $('<button class="btn btn-primary btn-sm float-right"></button>');
                        editButton.append(editIcon);
                        betParagraph.append(editButton);

                        editButton.click(function() {
                            // Store the original paragraph content for later use
                            betParagraph.data('originalContent', betParagraph.html());

                            // Wrap the input field and save button in a container
                            var inputContainer = $('<div class="input-container"></div>');

                            // Replace the paragraph content with an input field
                            var inputField = $('<input type="text" class="form-control" value="' + numbers.join(' - ') + '">');
                            inputContainer.append(inputField);

                            var saveIcon = $('<i class="fa fa-save"></i>');
                            var saveButton = $('<button class="btn btn-success btn-sm float-right"></button>');
                            saveButton.append(saveIcon);
                            saveButton.css('margin-right', '10px');
                            inputContainer.append(saveButton);

                            var cancelIcon = $('<i class="fa fa-times"></i>');
                            var cancelButton = $('<button class="btn btn-secondary btn-sm float-right"></button>');
                            cancelButton.append(cancelIcon);
                            inputContainer.append(cancelButton);

                            // Attach a click event listener to the save button
                            saveButton.click(function() {
                                // Here you can handle the save logic, e.g., update the bet numbers
                                var updatedNumbers = inputField.val().split(' - ').map(function(number) {
                                    return parseInt(number, 10); // Convert strings back to numbers
                                });

                                // Access the bet id
                                var betId = bet.id;

                                let jsonObject = {
                                    "paperId": item.id,
                                    "betId": betId,
                                    "numbers": updatedNumbers
                                };

                                fetch('/api/papers', {
                                    method: 'PUT',
                                    headers: {
                                       'Content-Type': 'application/json',
                                    },
                                    body: JSON.stringify(jsonObject),
                                    })
                                    .then(response => {
                                        if (response.ok) {
                                            $('#successMessage').show().fadeOut(8000);
                                        } else {
                                            $('#errorMessage').text(data.errorMessage || 'An error occurred').show().fadeOut(5000);
                                        }
                                    })
                                    .catch((error) => {
                                        $('#errorMessage').text('An error occurred while submitting your data.').show().fadeOut(8000);
                                    });

                                // Reconstruct the paragraph with the updated numbers in the desired format
                                var updatedPaddedNumbers = updatedNumbers.map(function(number) {
                                    return number.toString().padStart(2, '0');
                                });

                                // Create a new paragraph with the updated numbers and edit button
                                var updatedBetParagraph = createBetParagraph(betIndex, bet, item, updatedPaddedNumbers);

                                // Replace the current paragraph with the updated one
                                betParagraph.replaceWith(updatedBetParagraph);
                            });

                            cancelButton.click(function() {
                                var updatedPaddedNumbers = numbers.map(function(number) {
                                    return number.toString().padStart(2, '0');
                                });

                                // Revert changes and replace the input field with the original paragraph content
                                betParagraph.html(betParagraph.data('originalContent'));

                                // Create a new paragraph with the updated numbers and edit button
                                var updatedBetParagraph = createBetParagraph(betIndex, bet, item, updatedPaddedNumbers);

                                // Replace the current paragraph with the updated one
                                betParagraph.replaceWith(updatedBetParagraph);
                            });

                            // Replace the paragraph content with the input container
                            betParagraph.empty().append(inputContainer);
                        });
                        return betParagraph;
                    }
                    cardBody.append(cardBodyContent);
                    cardHeader.append(cardHeaderButton, deleteButton, addBetButton);
                    accordionItem.append(cardHeader, cardBody);
                    accordionContainer.append(accordionItem);
                });

                // Attach click event listener to delete buttons
                $('.delete-btn').click(function() {
                    var itemId = $(this).data('id');
                    var itemUrl = '/api/papers/' + itemId;

                    var confirmDelete = window.confirm("Tem certeza que deseja deletar este item?");

                    if(confirmDelete) {
                        fetch(itemUrl, {
                            method: 'DELETE',
                            headers: {
                                'Content-Type': 'application/json'
                            }
                        })
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Network response was not ok');
                            }
                            // Assuming the server responds with a success message or status code
                            console.log('Item deleted successfully');
                            // Remove the deleted item from the UI
                            $('#heading' + itemId).parent().remove();
                        })
                        .catch(error => {
                            console.error('Error deleting item:', error);
                        });
                    }else {
                        return false;
                    }
                });

                $('.add-bet-btn').click(function() {
                    var itemId = $(this).data('id');
                    var paperData = "Folha " + itemId;

                    $('#addBetModal #paperId').val(itemId);

                    // Populate the modal with the item's data
                    $('#addBetModal .modal-subtitle').text(paperData);

                    // Show the modal
                    $('#addBetModal').modal('show');
                });

                $('.addBet').click(function() {
                    var paperIdValue = $('#addBetModal #paperId').val();
                    console.log(paperIdValue);

                    var updatedData = $('#addBetModal .modalTextInput').val();
                    console.log(updatedData);

                    $('#addBetModal').modal('hide');

                    let jsonObject = {
                        "paperId": paperIdValue,
                        "numbers": updatedData
                    };

                    var target = '#collapse' + paperIdValue;
                    $(target).collapse('show');

                });

                 $('.closeModal').click(function() {
                    $('#addBetModal').modal('hide');
                 });
            })
            .catch(error => console.error('Error fetching data:', error));
    });
</script>
<style>
    .input-container {
        display: flex;
        align-items: center; /* Align items vertically in the center */
        justify-content: space-between; /* Space out the input field and the button */
    }

    .form-control {
        flex-grow: 1; /* Allow the input field to take up available space */
        margin-right: 10px; /* Add some space between the input field and the button */
    }


    .hr-separator {
        margin-top: 10px;
        margin-bottom: 10px;
    }
</style>
</body>
</html>
